body{
  background-image:url(../storage/emulated/0/Html/images/Katol.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size:cover;
  font-family:courier;
  color:white;
}
nav{
  position: fixed;
  background:black;
  width: 100%;
  padding: 4px;
  
}
.head{
  max-width: 1230px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head .rdts{
     font-size: 30px;
     letter-spacing: 4px;
     display: inline-block;
     margin-bottom: 10px;   
}
    /* Style for RODITS word*/
.head .rdts a {
  text-decoration: none;
  margin-left:0;
  color:#fd4766;
  font-size: 20px;
}
/* To display the navigation bar horizontally */
.head ul li{
  display:inline-flex;
}
/* To adjust the margin or spacing of the navigation bar */
.head ul li{
  list-style: none;
  margin-left: 7px;
}
/* For Navigation bar "font-color, size and padding" */
.head  ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 8px 10px;
}
/* For Navigation bar hover styles */
nav ul li a{
    color:white;
    position:relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #fd4766;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: .1s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}
 /* <div class ="data" position */  
.data{
    position: absolute;
    top: 30%;
    left: 8%;
}
   /* span class ="text" styles */
.data .text{
    color: #1f1f25;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
   /* Styles for h1 in <div class="data"> */
.data h1{
    color: #fff;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
} 
   /* Style color for the choosen word to span "RODITS" */
.data h1 span{
    color: #fd4766;
}
   /* Styles for paragraph in div class="data" */
.data p{
    width: 55%;
    color: white;
    margin-top: 0px;
    margin-bottom: 40px;
}
    /* Styles for Dropdown navigation bar */
.dropdown-menu {
   position: relative;
   display: inline-block;
}
.menu-content {
   display: none;
   position: absolute;
   background-color:none;
   min-width: 160px;
}
.dropdown-menu:hover .menu-content {
    display: block;
    }
    .dropdown-menu:hover .menu-btn {
    background-color:black;
    }
      /* Styles for button " hire me " and " subscribe " */
button{
    font-family:courier;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 15px 20px;
    border-radius: 200px;
    display: inline-block;
    transition: all .4s ease-in-out;
    background: #fd4766;
    border: 2px solid #fd4766;
    margin-left:30px;
    }
    button:hover{
    background: transparent;
    border-color: #fd4766;
    color: pink;
    }
      /* Styles for copyright */
    h2{
    margin-top:60px;
    }
   
